<main class="about-layout">
  <h1>Welcome to the Jungle!</h1>
    <p>We are an online, specialty plant store that</p>
      <div>
        <h3> We've got..... </h3>
        <ul>
          <li>Evergreens!</li>
          <li>Shrubs!</li>
          <li>Trees!</li>
        </ul>
        <p>With new product arriving all the time</p>
      </div>
</main>